body
{
	background:			#fff;
	font-family:		"Courier New", Courier, monospace;
	text-transform:		uppercase;
}

a
{
	color:				black;
	text-decoration:	none;
}

hr
{
	border:				1px solid black;
	border-left:		1px solid white;
	border-right:		1px solid white;
	height:				1px;
	border-top:			0;
	margin-top:			0.5em;
	margin-bottom:		0.5em;
}

h1
{
	text-align:			center;
	font-size:			1.2em;
}

h2
{
	font-size:			1em;
	text-align:			center;
	font-weight:		normal;
}

/*
********************************************************************************
*** WHITELIST
********************************************************************************
*/

#whitelist
{
	border:				1px solid black;
	height:				80vh;
	overflow-y:			auto;
}

input[type=button]
{
	margin:				1em;
	background:			#fff;
	border:				1px solid black;
	cursor:				pointer;
}

input[type=button]:hover
{
	border:				1px dotted black;
}

ul
{
	list-style-type:	none;
	margin:				0;
	padding:			0;
}

ul input[type=button]
{
	margin:				0.5em;
}

/*
********************************************************************************
*** INPUT
********************************************************************************
*/

#add
{
	border:				1px solid black;
	margin-top:			1em;
}

#i_add
{
	border:				1px solid black;
	text-transform:		uppercase;
}
