body
{
	background:			#fff;
	font-family:		"Courier New", Courier, monospace;
	text-transform:		uppercase;
	text-align:			center;
	width:				17em;
}

a
{
	color:				black;
}

hr
{
	border:				1px solid black;
	border-left:		1px solid white;
	border-right:		1px solid white;
	height:				1px;
	border-top:			0;
	margin-top:			0.5em;
	margin-bottom:		0.5em;
}

h1
{
	text-align:			center;
	font-size:			1.2em;
}

h2
{
	font-size:			1em;
	text-align:			center;
	font-weight:		normal;
}

input[type=button]
{
	margin:				1em;
	background:			#fff;
	border:				1px solid black;
	cursor:				pointer;
}

input[type=button]:hover
{
	border:				1px dotted black;
}
